# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg-info/
dist/
build/
*.egg
.eggs/

# Virtual environment
venv/
.venv/
env/
.env.local
.env.test

# Ignore .env as secrets are passed via --env-vars-file
.env

# Dev/IDE artifacts
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Git
.git/
.gitignore

# Tests
.pytest_cache/
htmlcov/
.coverage
coverage.xml

# Docs
*.md

# VERY IMPORTANT: DO NOT ignore the service account key!
!service-account.json
